@{
    Layout = Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome to Japanese learning website!</title>
</head>
<body>
    <div>
        <a href="../Kanji/AddKanji">Add Kanji</a>
    </div>
</body>
</html>